<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>

<body id="body1">
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a  href="@Url.Action("index", "Grid")">Simple Foreach</a></li>
                    <li role="presentation"><a  href="@Url.Action("WebGrid", "Grid")">WebGrid</a></li>
                    <li role="presentation"><a href="@Url.Action("jqgrid", "Grid")">jqGrid</a></li>
                    <li role="presentation"><a href="@Url.Action("angularjs", "Grid")">Angular JS</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">MVC Grid View</h3>
        </div>

        @RenderBody()

        <footer class="footer">
            <p></p>
        </footer>

    </div>
    <!-- /container -->

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

